body {
	font-family: Playfair Display;
	background-color: #F2EBD0;
}

.top_panel {
	background-image: url("background_flowers.jpg");
	height:50%;
	background-repeat: no-repeat;
	background-color: #000000;
	background-size:cover;
	background-position: center;
}

ul.ul_nav {
	list-style-type:none;
	background-color:#000000;
	overflow: hidden;
	padding-right: 5%;
}

li a {
	float:right;
	display:block;
	color:#F2EBD0;
	text-decoration:none;
	padding: 10px 15px;
	font-size:14px;
	font-weight: 900;
	text-transform: uppercase;
}

li a:hover, .current li a{
	background-color: #83052B;
}

h1 {
	font-weight:800;
	font-size:7em;
	text-align: center;
	letter-spacing: 5px;
	word-spacing: 8px;
	margin-top: 20%;
	color: #F2EBD0;
	font-family: Vivaldi;
	background-color:#83052B;
	opacity: 0.9;
}

p, li {
	line-height: 28px;
}







