<div class="arrangements-list">
  <%= arrangements.map(arr => {
    return `
      <a class="card" href="/arrangements/${arr.id}">
        <img src="/arrangement-images/${arr.photo_ids[0]}"/><br>
        <span><b>${arr.name}</b></span><br>
        <span>${arr.description}</span>
      </a>
    `;
  }).join('\n') %>
</div>
