<footer>
  <center>
    <p>
        <b>Kistner's Flowers</b><br>
        1901 Pillsbury Dr. <br>
        Manhattan, KS 66502<br><br>
        (785) 776-7044<br>
        (800) 532-3409
    </p>
</center>
</footer>
