<nav>

  <a href="about.html">About Us</a>
  <div class="dropdown">
  <button class="dropbtn">Sorority Sisterhood</button>
      <div class="dropdown-content">
          <a href="#">Gamma Phi Beta</a>
          <a href="#">Alpha Chi Omega</a>
          <a href="#">Kappa Alpha Theta</a>
      </div>
  </div> 
  <div class="dropdown">
  <button class="dropbtn">Occasions</button>
      <div class="dropdown-content">
          <a href="#">Weddings</a>
          <a href="#">New Baby</a>
          <a href="#">Birthdays</a>
      </div>
  </div> 
</nav>