<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="/public/style.css">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<title>Kistner's Flowers</title>
	</head>
  <body>
    <div id="page">
      <div></div>
      <header><%= navigation %></header>
      <div></div>
      <main>
        <%= content %>
      </main>
      <div></div>

      <div></div>
      <%= footer %>
      <div></div>
    </div>
  </body>
</html>
