<p>
  For the best and freshest flowers in Manhattan, Kistner's Flowers 
  has exactly what you're looking for! 
</p>
<p>
  Check out our wide selection of flower arrangements to make 
  your next occasion memorable.
</p>
<center>
    <%= arrangements %>
</center>
